body {
  font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
}

p {
  margin: 20px;
}

img {
  padding: 15px;
}
div.sidebar {
  float: right;
  background-color: red;
  color: black;
  margin: 10px;
}

.top {
  float: left;
}

.bottom {
  float: right;
}


.middle {
  float: right;
}